* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    border: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 2rem;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    height: 400px;
    width: 700px;
    background-color: rgb(213, 235, 225);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.item1 {
    grid-column: 1 / span 3;
    background-color: blue;
}

.item7 {
    background-color: red;
    grid-row-start: 2;
    grid-row-end: 5;
}


/* .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
} */